@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
    --font-family: "Poppins", san-serif;
    --btn-color: rgb(209, 213, 216);
    --bg-color: rgb(214, 251, 229);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: var(--font-family);
    background: var(--bg-color) !important;
}

.d-none {
    display: none;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form textarea {
    padding: 2.5rem 1rem 1rem 1rem;
    border: 1px solid #c1c1c1;
    outline: none;
    width: 300px !important;
    height: 320px !important;
    resize: none;
    border-radius: 5px;
    position: relative;
    font-size: 24px;
    box-shadow: 0 10px 20px 5px #7a7979;
    transition: 0.2s ease;
}

form #checkIcon {
    position: absolute;
    right: 50px;
    top: 10px;
    color: rgb(132, 126, 155);
}

form #xIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(132, 126, 155);
}

textarea::placeholder {
    color: #c1c1c1;
}

.row1 {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    margin-bottom: 3rem;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
}

#typeNote {
    padding: 0.7rem 2rem;
    font-size: 20px;
    background: var(--btn-color);
    border-radius: 5px;

}